/* ---------------------- */
/* Fonts                  */
/* ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

/* ---------------------- */
/* Custom properties      */
/* ---------------------- */

:root {
  --clr-light-grey: #e5e5e5;
  --clr-dark-grey: #181818;

  --ff-serif: "Lexend Deca", sans-serif;
  --ff-main: "Big Shoulders Display", cursive;
}

/* ---------------------- */
/* Reset                  */
/* ---------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

/* ---------------------- */
/* Typography             */
/* ---------------------- */

html {
  font-size: 21px;
  background-color: var(--clr-dark-grey);
}

h1,
h2,
h3 {
  font-family: var(--ff-main);
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  margin: 0.5em 0;
  font-size: 5em;
}

p {
  font-family: var(--ff-serif);
}

footer {
  padding: 2em;
}

/* ---------------------- */
/* Utility classes        */
/* ---------------------- */

.container {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

/* ---------------------- */
/* Buttons                */
/* ---------------------- */

.btn {
  border-radius: 50%;
  padding: 10px;
  /* margin-top: 1.5em;
  padding: 1em 2.5em; */
  cursor: pointer;
  transition: background-color 450ms ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

#increment-btn {
  border: 2px solid var(--clr-dark-grey);
}

#increment-btn:hover,
#increment-btn:focus {
  background-color: rgba(255, 0, 0, 60%);
}

#increment-btn:active {
  -webkit-box-shadow: inset 0px 0px 5px var(--clr-dark-grey);
  -moz-box-shadow: inset 0px 0px 5px var(--clr-dark-grey);
  box-shadow: inset 0px 0px 5px var(--clr-dark-grey);
}

#save-btn {
  border: 2px solid var(--clr-dark-grey);
}

#save-btn:hover,
#save-btn:focus {
  background-color: rgba(0, 100, 0, 60%);
}

#save-btn:active {
  -webkit-box-shadow: inset 0px 0px 5px var(--clr-dark-grey);
  -moz-box-shadow: inset 0px 0px 5px var(--clr-dark-grey);
  box-shadow: inset 0px 0px 5px var(--clr-dark-grey);
}

/* ---------------------- */
/* Components             */
/* ---------------------- */

.card {
  max-width: 15rem;
  padding: 2em;
  border-radius: 1em;
  background-color: var(--clr-light-grey);
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
}

#save-el {
  margin-bottom: 1em;
}

/* footer */

.attribution {
  font-family: var(--ff-serif);
  font-size: 11px;
  text-align: center;
  color: var(--clr-light-grey);
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

/* ---------------------- */
/* Media queries          */
/* ---------------------- */

/* @media (min-width: 998px) {
} */
